<%= render 'shared/category', genre: @genre, genres: @genres %>

<div class="col-lg-10">
    <div class="main-menu">
    	<div class="genre-title top-space">
    		<%= @genre.genre_name %>
    	</div>
    		<% @genre.cd_genres.each do |c_g| %>
    		<div class="cd-box">
				      	<div class="cd_image">
				       	<%= attachment_image_tag c_g.cd,:image %>
				       	</div>
				       	<table class="table">
				   		<thead>
				    	<tr>
				        <td><%= c_g.cd.album_name %></td>
				    	</tr>
				    	</thead>
				    	<tbody>
				    	<tr>
				    	<td><%= c_g.cd.artist.artist_name %></td>
				    	</tr>
						</table>
			</div>
			<% end %>
	</div>
</div>

<!-- 部分テンプレート共有部分のdiv閉じタグ用 -->
</div>
</div>