<%= render 'shared/category', genre: @genre, genres: @genres %>

<div class="col-lg-10">
    <div class="main-menu">
    	<div class="genre-title top-space">
    		<%= @genre.genre_name %>
    	</div>
    		<% @genre.cds.each do |c_g| %>
    		<div class="cd-box">
				      	<div class="cd_image">
				      	<%= link_to cd_path(c_g) do%>
				       	<%= attachment_image_tag c_g,:image %>
				       	<% end %>

				       	</div>
				       	<table class="table">
				   		<thead>
				    	<tr>
				        <td><%= link_to c_g.album_name, cd_path(c_g) %></td>
				    	</tr>
				    	</thead>
				    	<tbody>
				    	<tr>
				    	<td><%= link_to c_g.artist.artist_name, artist_path(c_g.artist) %></td>
				    	</tr>
						</table>
			</div>
			<% end %>
	</div>
</div>

<!-- 部分テンプレート共有部分のdiv閉じタグ用 -->
</div>
</div>