<div class="col-lg-10">
    <div class="main-menu">
        <h2>検索結果<%= @cds.count %>件</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>Title/Artist</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% @cds.each do |f| %>
                        <td>
                        	<%= link_to cd_path(f) do %>
                        	<div class="cart_image">
                        	<%= attachment_image_tag f,:image %>
 	                        </div>
                        	<% end %>
                        </td>
                        <td>
                        	<%= link_to cd_path(f) do %>
                        	<div class="search_album_name"><%= f.album_name %></div>
                        	<% end %>
                            <%= link_to artist_path(f.artist) do %>
                            <div class="search_artist_name">
                        	<%= f.artist.artist_name %><br>
                        	<% end %>
                            </div>
                            <div class="search_other">
                            発売日：<%= f.release_date %><br>
                            レーベル：<%= f.label %><br>
                            </div>
                        </td>
                        <td>
                        	<%= number_with_delimiter(f.price)  %>円
                        </td>
                    </tr>
                        <% end %>
                </tbody>
            </table>
	</div>
</div>