<div class="col-lg-10 col-lg-offset-1">
  <div class="main-menu">
    <div class="album_title">
      <h3><%= @cd.album_name %></h3>
    </div>
    <div class="col-lg-6">
      <div class="show_pic">
        <%= attachment_image_tag @cd,:image %>
      </div>
      <br>
      <div class="star">★★★★☆</div>
      <a href="review.html">ユーザーレビュー54件</a>
    </div>
    <div class="col-lg-6">
      <table class="table">
        <thead>
          <td>アルバム名</td>
          <td><%= @cd.album_name %></td>
        </thead>
        <tr>
          <td>アーティスト名</td>
          <td><%= link_to artist_path(@cd.artist) do %>
            <%= @cd.artist.artist_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><% @cd.cd_genres.each do |c_g| %>
                <%= c_g.genre.genre_name %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td>曲数</td>
          <td>全8曲</td>
        </tr>
        <tr>
          <td>収録時間</td>
          <td>46分22秒</td>
        </tr>
        <tr>
          <td>リリース日</td>
          <td><%= @cd.release_date %></td>
        </tr>
        <tr>
          <td>レーベル</td>
          <td><%= @cd.label %></td>
        </tr>
        <tr>
          <td>価格</td>
          <td><%= @cd.price %>円</td>
        </tr>
        <tr>
          <td>在庫数</td>
          <td>残り<%= @cd.stock %>点</td>
        </tr>
        <tr>
          <td>
            <%= form_for(@cd_cart, url: cd_cd_carts_path(@cd.id), method: :post) do |f| %>
              <%= f.number_field :count, class:"btn btn-default" %>
                      </td>
          <td>
            <%= f.submit "カートに入れる", class:"btn btn-info" %>
            <% end %>

          </td>
        </tr>
      </table>
    </div>
    <table class="table">
    </table>
    <table class="table">
      <thead>
        <th colspan="4">商品説明</th>
      </thead>
      <tr>
        <td colspan="4"><%= @cd.cd_introduction %><br>
          <div class="right">
            <%= link_to "edit", edit_cd_path(id: @cd.id), class:"btn btn-success" %>
            <%= link_to "destroy", cd_path(@cd.id), method: :delete, "data-confirm" => "are you sure?", class:"btn btn-danger" %>
            <%= link_to "add disc", new_cd_disc_path(@cd), class:"btn btn-info" %>
          </div>      
        </td>
      </tr>      
      <thead>
        <% @cd.discs.each do |c_d| %>
        <tr>
          <th colspan="4" style="background-color: #fff4f4">disc<%= c_d.disc_num %>
            <div class="right">
              <%= link_to "edit", edit_cd_disc_path(@cd, c_d), class:"btn btn-success" %>
              <%= link_to cd_disc_path(@cd, c_d), method: :delete, "data-confirm" => "are you sure?" do %>
                <div class="btn btn-danger">destroy</div>
            <% end %>
            </div>
          </th>
        </tr>
        <tr>
          <th>No.</th>
          <th>タイトル</th>
          <th>アーティスト</th>
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
        <% c_d.songs.each do |cds| %>
          <tr>
            <td><%= cds.order_num %></td>
            <td><%= cds.song_name %></td>
            <td><%= cds.singer.singer_name %></td>
            <td><%= cds.minutes %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

