<div class="col-lg-5">
    <div class="title-headline">アーティスト追加</div>
    <%= form_for(@artist, html: {class: 'form-horizontal'}) do |f| %>
        <% if @artist.errors.any? %>
            <div id="error_explanation" class="text-center">
                <h4><%= @artist.errors.count %>件のエラーが発生しました。</h4>
                <% @artist.errors.full_messages.each do |message| %>
                    <h6><%= message %></h6>
                <% end %>
            </div>
        <% end %>

        <div class="form-group">
            <label class="control-label col-sm-4 nav-text" for="image">アーティストイメージ:</label>
            <div class="col-sm-8"> 
                <div class="artist_pic"><%= f.attachment_field :image, placeholder:"image" %>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 nav-text" for="artist_name">アーティスト名:</label>
            <div class="col-sm-8">
                <%= f.text_field :artist_name, class: "form-control", placeholder: "artist_name"%>                        
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 nav-text" for="artist_kana_name">アーティスト名(カナ):</label>
            <div class="col-sm-8"> 
                <%= f.text_field :artist_kana_name, class: "form-control", placeholder: "artist_kana_name"%>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 nav-text" for="comment">アーティスト紹介:</label>
            <div class="col-sm-8"> 
                <%= f.text_area :introduction, class: "form-control", placeholder: "introduction" %>
            </div>
        </div> 
        <div class="right">
            <%= f.submit 'create', class: 'btn btn-warning' %>
        </div>
    <% end %>
</div>
<!-- </form> -->
<div class="col-lg-7">
    <div class="title-headline">ARTIST INDEX</div>
        <dl>
            <div class="search-box">
                <%= search_form_for(@q, :url => {:controller => '/artists', :action => 'index'}) do |f| %>
                    <dt><%= f.search_field :artist_name_or_artist_kana_name_cont, class: "form-control search-form", placeholder: "アーティスト名(カナOK)部分一致" %>
                    </dt>
                    <dd class=search-button>
                    <%= button_tag :type => "submit", :class =>" search-button fa fa-search" do %>
                    <% end %>
                    </dd>
                    </div>
                </dl>
                <% end %>
    <table class="table">
        <thead>
            <tr>
                <td>アーティスト名</td>
                <td>カナ</td>
                <td>編集</td>
                <td>削除</td>
            </tr>
        </thead>
        <tbody>
            <% @searches.each do |search| %>
                <tr>
                    <td><%= link_to artist_path(search) do %>
                            <%= search.artist_name %>
                        <% end %>
                        </td>
                    <td><%= search.artist_kana_name %></td>
                    <td><%= link_to artists_path(id: search.id) do %>
                        <div class="btn btn-success">edit</div>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to artist_path(search.id), method: :delete, "data-confirm" => "are you sure?" do %>
                            <div class="btn btn-danger">destroy</div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

