<div class="col-lg-10 col-lg-offset-1">
	<div class="main-menu">
		<div class="title-headline"><%= @artist.artist_name %></div>
		<div class="col-lg-6">
			 	<div class="artist_pic">
                	<%= attachment_image_tag @artist,:image, placeholder:"image" %><br>
                </div>
		</div>
		<div class="col-lg-6">
			<div class="artist_introduct">
				<table class="table">
					<thead>
  						<th><div class="text-center"><%= @artist.artist_name %></div></th>
					</thead>
					<tr>
  						<td><%= @artist.introduction %></td>
					</tr>
				</table>
			</div>
		</div>
		<table class="table"></table>
		<table class="table">
			<thead>
  				<th colspan="4">
  					<div class=text-center >ディスコグラフィー
  					</div>
  				</th>
  			</thead>
  		</table>
  				<% @artist.cds.each do |cd| %>
  				<div class="cd-box">
  					<div class="cd_image">
  						<%= attachment_image_tag cd,:image, placeholder:"image" %><br>
  					</div>
                  
                    <table class="table">
                      <thead>
                        <tr>
                          <td><%= cd.album_name %></a></td>
                      </tr>
                      </thead>
                      <tr>
                        <td><%= @artist.artist_name %></a></td>
                      </tr>
                  </table>
                </div>
  				<% end %>
                 
	</div>
</div>