<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="main-menu">
        <h2 class="title-headline">ADMIN Log in</h2>
        <div class="form-horizontal">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label class="control-label col-sm-3 nav-text" for="e-mail">Eメール:</label>
              <div class="col-sm-6">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "e-mail" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 nav-text" for="password">パスワード:</label>
              <div class="col-sm-6">
                <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class= "control-label col-sm-3 nav-text"></div>
              <div class="col-sm-6", style="text-align: left;">
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="right">
                <%= f.submit "ADMIN Log in", class: "btn btn-default create" %><br>
                <%= render "admins/shared/links" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>