<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <html lang="en">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="application.css"> 
    <title>sugardog.</title>
</head>
<body>
    <!-- ここからコードを書きましょう -->
    <!-- header -->
    <header class="navbar-fixed-top">
    <!-- nav -->
        <nav class="clearfix">
          <div class="title">sugardog。</div>
        <div class="search-box">
        <form>
          <dl>
            <dt><input class="search-form" type="text" name="search" placeholder="Search" value=""></dt>
            <dd><a href="search.html"><button class="search-button fa fa-search"></button></a></dd>
          </dl>
        </form>
      </div>
        <ul class="nav-list clearfix">
          <a href="index.html" class="nav-list-item"><div class="white"><div class="nav-text white">home</div></div></a>
            <a href="sign_up.html" class="nav-list-item"><div class="nav-text white">sign up</div></div></a>
            <a href="login.html" class="nav-list-item"><div class="nav-text white">login</div></div></a>
            <a href="user.html" class="nav-list-big"><div class="nav-text white">my<br>menu</div></a>
            <a href="cart_index.html" class="nav-list-big"><li class="fa fa-shopping-cart white" style="font-size: 45px"><br><div class="nav-text white">cart</div></li></a>
        </ul>
    </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <div class="side-bar">
            <div class="category-box">
              <h2>category</h2>
              <h3>
                <li><a href="" title="J-pop">J-pop</a></li> 
                <li><a href="" title="K-pop">K-pop</a></li> 
                <li><a href="" title="Hiphop">Hiphop</a></li> 
                <li><a href="" title="classic">classic</a></li> 
                <li><a href="" title="Kids">Kids</a></li> 
                <li><a href="" title="Anime">Anime</a></li> 
                <li><a href="" title="Sound-track">Sound-track</a></li> 
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="main-menu">
            <div class="title-headline">Login</div>
            <div class="form-horizontal">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <label class="control-label col-sm-3 nav-text" for="e-mail">Eメール:</label>
                  <div class="col-sm-6">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail", size: "40" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 nav-text" for="password">パスワード:</label>
                  <div class="col-sm-6">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "password", size: "30" %>
                  </div>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="col-sm-9">
                  <div class="right">
                    <%= f.submit "Log in", class: "btn btn-default create" %> </br>
                    <%= render "devise/shared/links" %>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>