<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="side-bar">
        <div class="category-box">
          <h2>category</h2>
          <h3>
            <li><a href="" title="J-pop">J-pop</a></li> 
            <li><a href="" title="K-pop">K-pop</a></li> 
            <li><a href="" title="Hiphop">Hiphop</a></li> 
            <li><a href="" title="classic">classic</a></li> 
            <li><a href="" title="Kids">Kids</a></li> 
            <li><a href="" title="Anime">Anime</a></li> 
            <li><a href="" title="Sound-track">Sound-track</a></li> 
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="main-menu">
        <div class="title-headline">Login</div>
        <div class="form-horizontal">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label class="control-label col-sm-3 nav-text" for="e-mail">Eメール:</label>
              <div class="col-sm-6">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail", size: "40" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 nav-text" for="password">パスワード:</label>
              <div class="col-sm-6">
                <%= f.password_field :password, autocomplete: "off", placeholder: "password", size: "30" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="col-sm-9">
              <div class="right">
                <%= f.submit "Log in", class: "btn btn-default create" %> </br>
                <%= render "devise/shared/links" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>