<!-- <div class="col-lg-3">
	<div class="side-bar">
	 	<div class="category-box">
	    	<h4>hello User!!</h4>
	    	<h2>my menu</h2>
	    	<ol>
		    	<li> <%= link_to "ユーザー情報の確認", user_path(user) %> </li>
		    	<li> <%= link_to "基本情報の編集", edit_user_path(user) %> </li>
		    	<li> <%= link_to "お届け先追加・変更", edit_delivery_path(user) %> </li>
		    	<li> <%= link_to "パスワード変更", edit_user_password_path %> </li> <!-- パス変更には飛ばずに、users#showにリダイレクトされる問題が未解決 --> 
		    	<li> <%= link_to "購入履歴", cd_history_path(user)%> </li> <!-- 未設定 --> 
		    	<li> <%= link_to "お気に入りアーティスト", user_path(user) %> </li> <!-- path未設定 -->　
		    	<li> <%= link_to "my review", user_path(user) %> </li> <!-- path未設定 -->　
		    </ol>
    	</div>
	</div>
</div> -->