<div class="container-fluid">
  <div class="row">
    <%= render 'users/list', user: @user %>
	<div class="col-lg-9">
	    <div class="main-menu"></br>
	    	<div class="right">
	    		<% if admin_signed_in? %>
					<%= link_to "USER:destroy", admin_user_path(@user), method: :delete, class: "btn btn-danger" %>
				<% end %>
	    	</div>
	    	<div class="col-lg-8 col-lg-offset-2">
	    		<div class="title-headline">基本情報</div>
    			<ul class="list-group">
				    <li class="list-group-item list-group-item-info">基本情報</li>
				    <li class="list-group-item">
  					    <table class="table">
						    <thead>
						        <tr>
							        <td>カナ<br>名前
							        </td>
							        <td><%= @user.kana_last_name %> <%= @user.kana_first_name %><br>
							        	<%= @user.last_name %> <%= @user.first_name %>
							        </td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
							        <td>郵便番号<br>住所</td>
							        <td>〒 <%= @user.zipcode %><br>
							        	<%= @user.prefecture.prefecture_name %> <%= @user.address %>
							        </td>
						        </tr>
						        <tr>
							        <td>電話番号</td>
							        <td> <%= @user.tel %> </td>
						        </tr>
						        <tr>
							        <td>E-Mail</td>
							        <td> <%= @user.email %></td>
						        </tr>
						    </tbody>
					    </table>
					</li>
				</ul>
				<%= link_to "退会のお手続きへ", quit_path(@user), class: "btn btn-default destroy" %>
				</br>
				<% if @user == current_user %>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
				<% end %>
				<div class="title-headline">お届け先情報</div>
			    <ul class="list-group">
				    <li class="list-group-item list-group-item-warning">お届け先１</li>
				    <li class="list-group-item">
				  		〒 <%= %><br>
				  							　茨城県つくば市沼田５７９<br>
					  						  sugerdog。様<br>
					  					      080-0000-0000<br>
				        <div class="right">
						  	<a href="delivery.html"><button class="btn btn-default edit">edit</button></a>
							<a href="user.html"><button class="btn btn-default destroy">destroy</button></a>
					    </div>
				    </li>
			    </ul>
			    <ul class="list-group">
				    <li class="list-group-item list-group-item-warning">お届け先2</li>
				    <li class="list-group-item">〒300-4353<br>
				   							　  茨城県つくば市沼田５７９<br>
					  						  　sugerdog。様<br>
					  					    	080-0000-0000<br>
			    	    <div class="right">
					   	<a href="delivery.html"><button class="btn btn-default edit">edit</button></a>
  					    	<a href="user.html"><button class="btn btn-default destroy">destroy</button></a>
					    </div>
				    </li>
			    </ul>
			</div>
		</div>
	</div>
  </div>
</div>