<div class="container-fluid">
  <div class="row">
    <%= render 'users/list', user: @user %>
	<div class="col-lg-9">
	    <div class="main-menu"><br>
	    	<div class="right">
	    		<% if admin_signed_in? %>
					<% if @user[:soft_destroyed_at].present? %>
						<%= link_to "退会者を復活させる", admin_user_restore_path(@user), class: "btn btn-warning" %>
					<% else %>
						<%= link_to "USER:destroy", admin_user_path(@user), method: :delete, class: "btn btn-danger" %>
					<% end %>
				<% end %>
	    	</div>
	    	<div class="col-lg-8 col-lg-offset-2">
	    		<div class="title-headline">基本情報</div>
    			<ul class="list-group">
				    <li class="list-group-item list-group-item-info">基本情報</li>
				    <li class="list-group-item">
  					    <table class="table">
						    <thead>
						        <tr>
							        <td>カナ<br>名前
							        </td>
							        <td><%= @user.kana_last_name %> <%= @user.kana_first_name %><br>
							        	<%= @user.last_name %> <%= @user.first_name %>
							        </td>
						        </tr>
						        <tr>
						        	<td>ニックネーム</td>
						        	<td> <%= @user.nickname %> </td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
							        <td>郵便番号<br>住所</td>
							        <td>〒 <%= @user.zipcode %><br>
							        	<%= @user.prefecture.prefecture_name %> <%= @user.address %>
							        </td>
						        </tr>
						        <tr>
							        <td>電話番号</td>
							        <td> <%= @user.tel %> </td>
						        </tr>
						        <tr>
							        <td>E-Mail</td>
							        <td> <%= @user.email %></td>
						        </tr>
						    </tbody>
					    </table>
					</li>
				</ul>
				<% if user_signed_in? %>
					<%= link_to "退会のお手続きへ", quit_path(@user), class: "btn btn-default destroy" %>
				<% end %>
				<br>
				<div class="title-headline">お届け先情報</div>
			    <ul class="list-group">
			    	<% if Delivery.exists?(user_id: @user.id) %>
				    	<%# i = 0 %>
					    <% @user.deliveries.each_with_index do |delivery, i| %>
						    <li class="list-group-item list-group-item-warning">お届け先 <%= i + 1 %></li>
						    <li class="list-group-item">
						  		〒 <%= delivery.zipcode %><br>
						  		<%= delivery.prefecture.prefecture_name %><%= delivery.address %><br>
							  	<%= delivery.name %>様<br>
							  	電話番号：<%=  delivery.tel %><br>
						        <div class="right">
						        <% if user_signed_in? %>
								  	<%= link_to "edit", edit_delivery_path(delivery), class:"btn btn-default edit" %>
									<%= link_to "destroy", delivery_path(delivery), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-default destroy" %>
								<% end %>
							    </div>
						    </li>
						<% end %>
					<% else %>
						<li class="list-group-item list-group-item-warning">追加のお届け先情報はまだありません。</li>
					<% end %>
			    </ul>
			</div>
		</div>
	</div>
  </div>
</div>