    <%= render 'users/list', user: current_user %>
	<div class="col-lg-9">
	    <div class="main-menu">
			<div class="container">
				<div class="col-lg-4 col-lg-offset-2">
						<div class="title-headline">Review</div>
						<table class="table">
							<thead>
								<tr>
									<td>
										<%= attachment_image_tag @review.cd,:image %>
									</td>
								</tr>
								<tr>
									<td>
										<%= @review.cd.album_name %><br>
										<%= @review.cd.artist.artist_name %>
									</td>
								</tr>
							</thead>
		            	</table>
		            	<div class="form-horizontal">
						  <%= form_for(@review, url: cd_review_path(@review), method: :patch) do |f| %>
						  <div class="review_text">総合評価</div>
						     <img src="/assets/star-on.png">
  						  <%= f.number_field :star, :min => 1, :max => 5 %><br>
						    <label for="comment">Comment:</label>
  						  <%= f.text_area :comment, class: "form-control" %><br>
  						  <%= f.submit "更新", class: "btn btn-success", style: "padding-bottom: 5px"%>
						  <% end %>
						</div>
				</div>
			</div>
	    </div>
	</div>
