<!DOCTYPE html>
<html>
  	<head>
	    <%= csrf_meta_tags %>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	    <!-- <link rel="stylesheet" href="jquery.raty.css"> -->
	    <!-- <link rel="stylesheet" href="style.css"> -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <html lang="en">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application' %>
		<title>sugerdog.</title>
	</head>
    <!-- ここからコードを書きましょう -->

    <body>
    <!-- header -->
    	<% if admin_signed_in? %>

    		<header class="admin", style="margin-top: -100px">
		    	<nav class="clearfix admin">

		        	<div class="clearfix header_nav", style="margin: 0 auto;">
			            <%= link_to "TOP", admins_path, class: "admin_nav-list-item" %>
			        	<%= link_to "CDの追加", new_cd_path, class: "admin_nav-list-item" %>
			        	<%= link_to "ユーザー一覧", admin_users_path, class: "admin_nav-list-item" %>
			            <%= link_to "アーティスト設定", artists_path, class: "admin_nav-list-item" %>
			            <%= link_to "ジャンル設定", genres_path, class: "admin_nav-list-item" %>
			            <%= link_to "ランキング設定", rankings_path, class: "admin_nav-list-item" %>
			            <%= link_to "送料設定", prefectures_path, class: "admin_nav-list-item" %>
			            <%= link_to "レビュー履歴", admin_reviews_path, class: "admin_nav-list-item" %>
			            <%= link_to "購入履歴", histories_path, class: "admin_nav-list-item" %> <!-- 後で変更あり -->
			            <%= link_to "Topイメージ設定", pop_images_path, class: "admin_nav-list-item" %>
			            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"admin_logout" %>
			        </div>
		        </nav>
		    </header>
		<% else %>
		 	<header class="navbar-fixed-top">
		        <nav class="clearfix">
		       		<div class="title">sugerdog。</div>
				 	<div class="search-box">

					<dl>
						<%= search_form_for @q, :url => {:controller => '/cds', :action => 'search'} do |f| %>
							<dt>
								<%= f.search_field :album_name_or_album_kana_name_or_artist_artist_name_or_artist_artist_kana_name_cont, class: "form-control search-form", placeholder: "search" %>
							</dt>
							<dd>
								<%= button_tag :type => "submit", :class =>"search-button fa fa-search" do %>
								<% end %>
							</dd>
						<% end %>
					</dl>

					</div>
					<% if user_signed_in? %>
						<ul class="nav-list clearfix">
							<%= link_to cds_path do %>
				          		<div class="white nav-list-item">
				          			<div class="nav-text white">home</div>
				          		</div>
				          	<% end %>
				            <%= link_to destroy_user_session_path,method: :delete do %>
				            	<div class="nav-list-item">
				            		<div class="nav-text white">Logout</div>
				            	</div>
				            <% end %>
				            <%= link_to admin_user_path(current_user.id) do %>
				            	<div class="nav-list-item">
				            		<div class="nav-text white">mymenu</div>
				            	</div>
				            <% end %>
				            <%= link_to cart_path(current_user.id) do %>
					            <div class="nav-list-big">
					            	<li class="fa fa-shopping-cart white" style="font-size: 45px"><br>
					            		<div class="nav-text white">cart</div>
					            	</li>
					            </div>
				            <% end %>
				        </ul>
				    <% else %>
				    	<ul class="nav-list clearfix">
				          	<%= link_to cds_path do %>
				          		<div class="white nav-list-item">
				          			<div class="nav-text white">home</div>
				          		</div>
				          	<% end %>
				          	<%= link_to new_user_registration_path do %>
				            	<div class="nav-list-item">
				            		<div class="nav-text white">sign up</div>
				            	</div>
				            <% end %>
				            <%= link_to new_user_session_path do %>
				            	<div class="nav-list-item">
				            		<div class="nav-text white">login</div>
				            	</div>
				            <% end %>
				            <%= link_to new_user_session_path do %>
				            	<div class="nav-list-item">
				            		<div class="nav-text white">mymenu</div>
				            	</div>
				            <% end %>
				            <%= link_to cds_path do %>
				            	<div class="nav-list-big">
				            		<li class="fa fa-shopping-cart white" style="font-size: 45px"><br>
				            			<div class="nav-text white">cart</div>
				            		</li>
				            	</div>
				            <% end %>
				        </ul>
				    <% end %>
			    </nav>
			</header>
		<% end %>
    	<%= yield %>
    	<footer>
			<p>©sugardog</p>
    	</footer>

</body>
</html>
