<div class="container-fluid">
  <div class="row">
    <%= render 'users/list', user: @user %>
    <div class="col-lg-9">
      <div class="main-menu">
        <div class="col-lg-11 col-lg-offset-1">
          <div class="title-headline">パスワード変更画面</div><%#= resource_name.to_s.humanize %>
          <div class="form-horizontal">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.label :email, class: "control-label col-sm-5" %>
                <div class="col-sm-7">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
                <br>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-sm-5" for="first_name"> 現在のパスワードを入力してください:</label>
                <div class="col-sm-7">
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                  <i>変更を確認するために現在のパスワードが必要です</i>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-sm-5" for="first_name"> 新しいパスワードを入力してください: </label>
                <div class="col-sm-7">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> 文字以上の入力が必要です</em>
                  <% end %>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label class="control-label col-sm-5" for="kana_first_name"> 新しいパスワードをもう一度<br>入力してください:</label>
                <br>
                <div class="col-sm-7">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
              <br>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10", style="text-align: right;">
                  <%= f.submit "Update", class: "btn btn-default create" %>
                </div>
                <br>
                <br>
                <div class="col-sm-offset-2 col-sm-10", style="text-align: right;">
                  <%= link_to "戻る", :back, class: "btn btn-default success" %>
                </div>
              </div>
            <% end %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->